VITE_SUPABASE_URL=https://https://ktexxfxzyyymfbvgrjcz.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0ZXh4Znh6eXl5bWZidmdyamN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1MzcwMDksImV4cCI6MjEwMjExMzAwOX0.ckWnp3jq8AxSe-KZ8Q1O7rzFYSTiwietr0Abm78lZvI
